.container {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    margin: 10px 3%;
}

@media (min-width: 640px) {
    .container {
        margin: 10px auto;
        width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        margin: 10px auto;
        width: 750px;
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 10px auto;
        width: 1100px;
    }
}

.title {
    margin: 10px 0;
}

.title a {
    color: #4361ee;
}

.title a:visited {
    color: gray;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list > li {
    display: inline-block;
    margin-right: 30px;
}
